<div class="card w-75">
  <div class="card-body">
    <h1 class="card-title">About</h1>
    <p class="card-text">I started my business almost by accident. Little characters I doodled to amuse myself during advertising 
    meetings at my day job, took on a surprising life of their own. After I was laid off and gave birth to my 
    daughter, what were once diversions became the foundation for a new business idea. I launched my shop in 
    2018 with just a few products and I have been adding more products each year.</p>
    <a href="http://localhost:3000/categories/1" class="btn btn-primary">Take a look around.</a>
  </div>
</div>
